body {
  font-family: 'Open Sans', serif;
  color: yellow;
  background-color: white;
}

.header-image {
  background-image: url('banner.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}

.navbar-inverse {
  background-color: #3487F1;
  border-color: #3487F1;
}

.navbar-inverse .navbar-nav>li>a {
  color: yellow;
  font-size: 20px;
}

a {
  color: white;
}

.well {
  background-color: #3487F1;
  border-color: #3487F1;
}

h1 {
  font-size: 20px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
